{#import all the page layout from the layout.html file#}
{% extends "layout.html" %}
{% block content %}


<h1 category books></h1>
    {% if not session['email'] %}
        <h3>you are not logged in </h3>
        <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
        <p><a href="{{url_for('register') }}">SIGN UP</a></p>
        {% else %}

 <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Book Title</th>
                <th scope="col">Description</th>
                <th scope="col">image</th>
                <th scope="col">Year</th>


            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for book in Books %}
            <tr>
                <td><h3>{{ book["Title"] }}</h3></td>
                <td>{{ book["Description"] }}</td>
                <td><img src = 'static/images/{{ book["Image"] }}'></img></td>
                <td>{{ book["Year"] }}</td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>



{% endif %}

{% endblock %}
