{#will be used to design the layout of all pages in one time instead of repeating the step in every html file#}
<!DOCTYPE html>
<html>
<head>
    <title>Amgad Book-Store</title>
{#    we will need to link bootstrap here#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{#    link the style.css file#}
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/style.css')}}"/>

</head>
<body>
<audio controls autoplay>
  <source src="static/audio/relax.mp3" type="audio/mpeg">">
Your browser does not support the audio element.
</audio>
{# this will be the header of all the pages#}
<div class="container-fluid text-center top-container">
    <img src="{{ url_for ('static',filename='images/bs.jpg')}}">
</div>
<div class="container">
{#    call the nav.html to display the navigation buttons in all the pages#}
    {% include "includes/nav.html" %}
{#put the flash message here#}
    {% with messages= get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
            {#            usinf the bootstrap alerting methods#}
                <div class = "alert alert-{{ category }}">
                    <p>
                        {{ message }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
{#here goes all the content of the other html files #}
    {% endblock %}
</div>
{#call the footer html#}
{% include "includes/footer.html" %}

</body>
</html>