
    {% extends "layout.html" %}

    {% block content %}
    <h2>New User Registration</h2>

    <div class="container">
        <form name="register" id="registration_form" action="response.html" method="POST">
            <label for="username"><b>Username</b></label>
            <input type="text"  id = "username" placeholder="Enter Username" name="username" required><span>*</span>
            <br>
            <label for="email1"><b>Email</b></label>
            <input type="text" id ="email1" placeholder="Enter Email" name="email" required> <span>*</span>
            <br>
            <label for="email2"><b>Verify Email</b></label>
            <input type="text" id ="email2" placeholder="Enter Email" name="email" required><span>*</span>
            <br>
            <label for="pass1"><b>Password</b></label>
            <input type="password" id="pass1" placeholder="Enter Password" name="password" required><span>*</span>
            <br class="clear">
            <label for="pass2"><b>Verify Password</b></label>
            <input type="password"  id="pass2" placeholder="Enter Password" name="password" required><span>*</span>
            <br class="clear">
            <input class="btn-submit" type="submit" name="submit">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for ('static',filename='js/script.js')}}"></script>


    {% endblock %}